# Programmieren für ÜbersetzerInnen - Erste Schritte

Dieses Notebook bietet einige interaktive Programmierübungen für Ihre ersten Schritte in der Welt des Programmierens. Es wurde eigens für diesen Workshop angelegt. 

Wenn Sie den nachfolgenden Code auf Ihrem eigenen Windows-Computer zuhause ausführen möchten oder weitere Tutorials absolvieren möchten, folgen Sie bitte den Anweisungen unter https://github.com/dgromann/ProgrammingForTranslators auf der Startseite.

### Warum programmieren?
Damit kann man "langweilige" Aufgaben automatisieren, wie etwa suche nach Kollokationen in Text oder die Berechnung der Gewichtung von Fachausdrücken (z. B. TF-IDF Gewichtungen), und jede Anwendung genau an die eigenen Bedürfnisse anpassen.

### Warum Python?

Es gibt viele verschiedenen Programmiersprachen, z. B. Java, C++, C#, etc. Warum also sollte man also gerade Python lernen? 


*   *Leicht zu lernen*: eine der einfachsten Programmiersprachen für absolute Anfänger - auch auf diesem Prinzip erstellt
*   *Stark nachgefragt*: großer Bedarf an Python-Softwareentwicklern am Markt
*   *Weit verbreitet*: Python wird am häufigsten für maschinelles Lernen, inklusive maschineller Übersetzung, Natural Language Processing (NLP) und künstliche Intelligenz im Allgemeinen eingesetzt 
*   *Große Gemeinschaft*: je mehr Programmierer es gibt, desto mehr Hilfestellungen findet man in Online-Gemeinschaften und -Foren. Es gibt beinahe kein Problem in Python, für das nicht schon online eine Lösung gefunden wurde.

Daher ist Python eine sehr attraktive Programmiersprache für SprachexpertInnen.

# Lektion 1: Hallo Welt!

In der Welt des Programmierens besteht die lange Tradition als erste Aufgabe in der neuen Sprache "Hello World!" auf dem Bildschirm anzeigen zu lassen. 

Der Befehl `print("Hello World!")` macht genau das wonach er klingt, er gibt den Text innerhalb der Klammern und Anführungszeichen am Bildschirm aus.

Die nachstehende graue Zelle ist eine Code-Zelle. Das heißt der darin enthaltene Programmiercode kann vom Computer ausgeführt werden. Code muss nicht nur geschrieben, sondern auch ausgeführt werden. In unserer Workshopumgebung machen Sie dass, indem Sie einmal auf die graue Zelle klicken und dann auf die Schaltfläche "&#9658;| Run" unter der Menüleiste oder aus dem Menü "Cell" den Befehl "Run Cells". 

Fragen und praktische Aufgaben werden hier als **Frage** bzw. **Aufgabe** gekennzeichnet. **Fragen** fordern Sie dazu auf Überlegungen anzustellen bevor Sie etwas praktisch testen. **Aufgaben** erfordern das aktive Schreibenv on Code in der grauen Code-Zelle nach der Aufgabenbeschreibung.

**Frage:** <br>
Was passiert wenn Sie den nachstehenden Code ausführen?

In [1]:
print("Welcome to Python!")

Welcome to Python!

**Aufgabe:** <br>
Führen Sie den nachstehenden Code aus. Sie werden eine Fehlermeldung erhalten: 


*   Die erste Zeile zeigt die Datei und Zeilennummer in welcher der Fehler aufgetreten ist.
*   Die zweite Zeile markiert die Position des Fehlers in der Zeile.
*   Die dritte Zeile zeigt an um welche Art von Fehler es sich handelt (EOL = End of Line bzw. auf Deutsch Zeilenende).


Was muss im Code geändert werden um den Fehler zu beheben?

In [3]:
#print("Hello World!
print("Hello World!")

Hello World!

# Lektion 2: Variablen 

Variablen sind im Grunde Speicherplätze für Daten. Variablen speichern einen Wert, egal ob Zahl, Text oder Boolsche Werte (wahr oder falsch). Wenn man diesen Wert später wieder verwenden will, verwendet man einfach die Variable. 

Im Gegensatz zu anderen Programmiersprachen gibt man bei Python die Art der Variable nicht explizit an. Python erkennt die Art der Variable aufgrund des angegebenen Werts. Also anstelle von `int n = 2` für eine ganze Zahl (int = Integer), kann man in Python einfach `n = 2` sagen und dasselbe Ziel erreichen. 

Es gibt in Python verschiedene Arten von Datentypen:

*   Zahlen
*   Strings (Zeichenfolge)
*   Collections
  *   Liste (geordnete und veränderbare Sammlung; Mehrfachnennungen möglich)
  *   Tuple (geordnete und nicht veränderbare Sammlung; Mehrfachnennungen möglich) 
  *   Set (ungeordnet und veränderbare Sammlung; keine Mehrfachnennungen)
  *   Dictionary (ungeordnet, veränderbare, indizierte Sammlung; keine Mehrfachnennungen)

Wir konzentrieren uns in diesem Einstiegstutorial auf Zahlen, Strings, Listen und Dictionaries.

## Lektion 2.1: Zahlen

Zahlen können auch direkt eingegeben werden, ebenso wie Text, sind dann aber nicht wiederverwendbar.

In [4]:
# Ich bin ein Kommentar, eine Beschreibung für Menschen, und werde im Programm nicht berücksichtigt
# Als Variable 
result = 2 + 2 
print(result)

# Direkte Eingabe 
print("Auch dasselbe Ergebnis: ", 2 + 2)

4
Auch dasselbe Ergebnis:  4

Zahlen können als numerische Variablen gespeichert werden. 

**Frage:** <br>
Was passiert wenn man die folgende Code-Zelle ausführt? Warum werden hier keine Anführungszeichen bei dem `print()`-Befehl verwendet?

In [5]:
num1 = 2 
num2 = 4 
result_num = num1 + num2 
print(result_num)

6

Das vorherige Beispiel zeigt ganze Zahlen, es ist aber auch möglich Zahlen mit  Nachkommastellen (sogenannte "floats") darzustellen:

In [6]:
float1 = 2.1
float2 = 4.3 
float_result = float1 + float2
print(float_result)

6.4

Wenn der Code schon sehr lange ist oder es nicht ganz klar ersichtlich ist was für eine Art von Variable gerade vorliegt, kann man dies mit der Funktion `type()` ganz leicht herausfinden:

In [7]:
print(type(num1))
print(type(float1))

<class 'int'>
<class 'float'>

**Frage:** <br>
Was wird am Bildschirm ausgegeben wenn ich den folgenden Code ausführe?

In [8]:
result1 = result + result_num
print(result1)

10

**Aufgabe:** <br>
Addieren Sie die Variable `result1` mit dem Ergebnis der Float-Operation `float_result`, weisen Sie das Ergebnis einer neuen Variable `result2` zu und geben Sie das Ergebnis auf dem Bildschirm aus. Was für ein Datentyp resultiert daraus?

In [9]:
# Schreiben Sie hier Ihre Addition. 
result2 = result1 + float_result 
print(result2)

16.4

### Lektion 2.1.1: Arithmetische Operatoren
Auf Zahlen können auch viele arithmetische Operationen ausgeführt werden.

**Aufgabe:** <br>
Führen Sie die nachstehende Code-Zelle aus und versuchen Sie herauszufinden was die einzlenen Operationen mit den Zahlen machen. Ändern Sie die Werte der beiden Zahlen und führen Sie die Code-Zelle erneut aus um die Veränderung in den Ergebnissen zu sehen. 

Was macht der Modulus-Operator? Was der Exponent-Operator?

In [11]:
zahl1 = 6 
zahl2 = 2 

print("Addition: zahl1 + zahl2 = ", zahl1 + zahl2)
print("Subtraktion: zahl1 - zahl2 =  ", zahl1 - zahl2)
print("Multiplikation: zahl1 * zahl2 =  ", zahl1 * zahl2)
print("Division: zahl1 / zahl2 =  ", zahl1 / zahl2)
print("Modulus: zahl1 % zahl2 =  ", zahl1 % zahl2) # Gibt den Rest einer Division zurück, z. B. 6 : 11 ergibt 6 Rest, 5:3 ergibt 2 Rest, etc.
print("Exponent: zahl1 ** zahl2 =  ", zahl1 ** zahl2) # Entspricht der mathematischen Operation "hoch", also zahl1 hoch zahl2

Addition: zahl1 + zahl2 =  8
Subtraktion: zahl1 - zahl2 =   4
Multiplikation: zahl1 * zahl2 =   12
Division: zahl1 / zahl2 =   3.0
Modulus: zahl1 % zahl2 =   0
Exponent: zahl1 ** zahl2 =   36

### Lektion 2.1.2: Vergleichsoperatoren

Wenn man zwei oder mehrere Variablen miteinander vergleichen will, ist die Verwendung vordefinierter Vergleichsoperatoren sehr sinnvoll.



*   `==`: übereprüft die Äquivalenz zwischen den Werten von zwei Variablen
*   `!=`: überprüft die Nicht-Äquivalenz zwischen den Werten von zwei Variablen 
*   `>`: überprüft ob der Wert der linken Variable größer ist als der Wert der rechten 
*   `<`: überprüft ob der Wert der linken Variable kleiner ist als der Wert der rechten 
*   `>=`: überprüft ob der Wert der linken Variable gößer oder gleich ist dem Wert der rechten 
*   `<=`: überprüft ob der Wert der linken Variable kleiner oder gleich ist dem Wer der rechten

In [12]:
print("zahl1 == zahl2 ", zahl1 == zahl2)
print("zahl1 != zahl2 ", zahl1 != zahl2)
print("zahl1 > zahl2 ", zahl1 > zahl2)
print("zahl1 < zahl2 ", zahl1 < zahl2)
print("zahl1 >= zahl2 ", zahl1 >= zahl2)
print("zahl1 <= zahl2 ", zahl1 <= zahl2)

zahl1 == zahl2  False
zahl1 != zahl2  True
zahl1 > zahl2  True
zahl1 < zahl2  False
zahl1 >= zahl2  True
zahl1 <= zahl2  False

Das Ergebnis, dass hier ausgegeben wird stellt Boolsche Werte dar. Boolsche Werte können immer nur den Wert wahr (`True`) oder falsch (`False`) annehmen und sind beim Programmieren sehr wichtig.

**Frage** <br>
Gibt der folgende Code `True` oder `False` aus?

In [14]:
z1 = 2 
z2 = 2
print(z1 != z2) # False weil 2 == 2

False

## Lektion 2.2: Strings

In "Strings" werden Textdaten in Python gespeichert. Strings können in einfachen oder doppelten Anführungszeichen dargestellt werden. Bei einfachen Anführungszeichen muss ein Apostroph (z. B. don't) mit dem Symbol "\" von einem Anführungszeichen unterschieden werden. Zum Beispiel:

In [15]:
print('Das ist ein String.')
print("Das ist auch ein String")
print("Das ist der Unterschied:")
print('doesn\'t')
print("doesn't")
print('"Ja" hat er gesagt.')

Das ist ein String.
Das ist auch ein String
Das ist der Unterschied:
doesn't
doesn't
"Ja" hat er gesagt.

Auch auf Strings kann die Operation der Addition angewandt werden:

In [16]:
name1 = "Dagmar"
name2 = "Gromann"
result_name = name1 + " " + name2 # hier wird ein Leerzeichen hinzugefügt um die Strings zu trennen
print(result_name)

Dagmar Gromann


**Aufgabe:** <br>
Erstellen Sie eine neue Variable für Ihren Vornamen und eine neue Variable für Ihren Nachnamen. Schreiben Sie dann eine Variable in der Sie beide addieren und geben Sie diese Variable am Bildschirm aus.

In [17]:
# Schreiben Sie hier Ihren Vor- und Nachnamen als Variablen, addieren diese und geben das Resultat aus.
n1 = "Ihr Vorname"
n2 = "Ihr Nachname"
print(n1 + " " + n2)

Ihr Vorname Ihr Nachname

Strings sind automatisch indiziert, dass heißt jedem Buchstaben wird ein Index zugewiesen, den man direkt ansprechen kann. Der Index beginnt mit 0 für den ersten Buchstaben, 1 für den zweiten, usw. Es können auch Bereich adressiert werden indem ein Indexbereich angegeben werden, z. B. string[1:4].

In [18]:
wort = "Programmieren"
print("Der erste Buchstabe des Wortes:", wort[0])
print("Der vierte Buchstabe des Wortes:", wort[3])
print("Vom zweiten zum vierten Buchstaben:", wort[1:4])

Der erste Buchstabe des Wortes: P
Der vierte Buchstabe des Wortes: g
Vom zweiten zum vierten Buchstaben: rog

Wird in einem Ausdruck mit zwei Indizes der erste ausgelassen, bedeutet es automatisch "von Anfang an". Wird der zweite ausgelassen, bedeutet es automatisch bis "ganz zum Ende".

In [19]:
print(wort[:3]) # Die ersten drei Buchstaben 
print(wort[3:]) # Alle außer den ersten drei Buchstaben
print(wort[:-2]) # Alles außer der letzten zwei Buchstaben
print(wort[-2:]) # Nur die letzten zwei Buchstaben

Pro
grammieren
Programmier
en

**Aufgabe:** <br>
Geben Sie die letzten vier Buchstaben des Wortes "wort" mithilfe der nachstehenden Code-Zelle aus.

In [20]:
print(wort[-4:], "oder auch", wort[len(wort)-4:])

eren oder auch eren

### Lektion 2.2.1: Operatoren
Neben der Addition kann ein String auch multipliziert werden.

**Frage:** <br>
Was passiert wenn ein String mit einer bestimmten Zahl multipliziert wird? Kann ein String auch mit sich selbst multipliziert werden?

In [21]:
wort = "Terminologie"
print(wort * 5)

TerminologieTerminologieTerminologieTerminologieTerminologie

**Aufgabe:** <br>
Welche dieser Vergleichsoperatoren kann auch sinnvoll auf Text angewandt werden?  Testen Sie Ihre Annahme in der nachstehenden Code-Zelle.

In [23]:
text1 = "Banane"
text2 = "Apfel"

print("text1 == text2 ", text1 == text2) # True wenn beide Strings idente Buchstaben enthalten (Groß-Kleinschreibung berücksichtigt)
print("text1 != text2 ", text1 != text2) # True wenn beide Strings nicht idente Buchstaben enthalten 
print("text1 > text2 ", text1 > text2) # Vergleicht den lexikalischen Index der Buchstaben NICHT die Länge der Strings
print("text1 < text2 ", text1 < text2) # Vergleicht den lexikalischen Index der Buchstaben NICHT die Länge der Strings
print("text1 >= text2 ", text1 >= text2) # Vergleicht den lexikalischen Index der Buchstaben NICHT die Länge der Strings
print("text1 <= text2 ", text1 <= text2) # Vergleicht den lexikalischen Index der Buchstaben NICHT die Länge der Strings

text1 == text2  False
text1 != text2  True
text1 > text2  True
text1 < text2  False
text1 >= text2  True
text1 <= text2  False

**Aufgabe:** <br>
Sehen Sie sich den nachstehende Code an und führen Sie in aus. Sie werden eine Fehlermeldung erhalten. Wie kann der Fehler behoben werden? Was ist das Problem?

In [24]:
x = 1
y = 2
first = "first"
print(x + y + 1) 
#print(x + y + first) Das war die Zeile vorher 
print(x + y, first) # so kann man Zahlen und Strings gemeinsam verwenden  
print(first, x, y)

4
3 first
first 1 2

## Lektion 2.3: Listen

Im Gegensatz zu Zahlen und Strings, kann eine Liste mehrere Elemente speichern.

In [25]:
my_string = "Programmieren für ÜbersetzerInnen"
my_list = ["Programmieren für ÜbersetzerInnen", "Freitag", "Februar", "Gymnasiumstraße"]
print(my_string)
print(my_list)

Programmieren für ÜbersetzerInnen
['Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 'Gymnasiumstraße']

Listen sind ebenso wie Strings indiziert, d. h. bestimmte Positionen einer Liste können direkt angesprochen werden. Auch wie bei Srtings beginnen wir hier mit 0 zu zählen.

**Aufgabe** <br>
Geben Sie das Element "Freitag" aus der Liste `my_list` aus indem Sie den Index in Klammern von `0` auf den richtigen Index ändern:

In [26]:
print(my_list[1])

Freitag

**Aufgabe** <br>
Geben Sie die Liste `my_list` insgesamt drei Mal aus ohne die Variable öfter als einmal in den Code zu schreiben.

In [27]:
# Wie kann my_list drei Mal ausgegeben werden ohne die Variable zu wiederholen?
print(my_list * 3)

['Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 'Gymnasiumstraße', 'Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 'Gymnasiumstraße', 'Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 'Gymnasiumstraße']

Listen können auch verschiedene Datentypen kombinieren:

In [28]:
my_mixed_list = ["Programmieren für ÜbersetzerInnen", "Freitag", "Februar", 14, 2020, "Gymnasiumstraße", 50, True]
print(my_mixed_list)

['Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 14, 2020, 'Gymnasiumstraße', 50, True]

Es ist möglich einer Liste Elemente hinzuzufügen durch Verwendung der Funktion `append()` wobei in Klammern das anzuhängende Element (hier die Zahl 0) angegeben wird. 

Die Funktion `len()` gibt die Länge - also die Anzahl der Listenelement bzw. die Anzahl der Buchstaben - der Variable, die ihr in Klammern übergeben wird, wieder.

In [29]:
# Die Zahl 0 hinzufügen
my_mixed_list.append(0)
print(my_mixed_list)

# Die Länge der Liste ausgeben 
print("Länge von my_mixed_list: ", len(my_mixed_list))

# Funktioniert auch auf strings 
print("Länge von mein String: ", len(my_string))

['Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 14, 2020, 'Gymnasiumstraße', 50, True, 0]
Länge von my_mixed_list:  9
Länge von mein String:  33

Weiters können Elemente aus Listen mithilfe der Funktion `remove()` entfernt werden.

In [30]:
# Das Element "0" entfernen  
my_mixed_list.remove(0)
print(my_mixed_list)

# Die Länge der Liste ausgeben 
print("Länge von my_mixed_list: ", len(my_mixed_list))

['Programmieren für ÜbersetzerInnen', 'Freitag', 'Februar', 14, 2020, 'Gymnasiumstraße', 50, True]
Länge von my_mixed_list:  8

**Aufgabe:** <br>
Fügen Sie der nachstehenden Liste das Element "Apfel" hinzu und löschen Sie das Element "Banane". Wie viele Elemente hat die Liste (bitte ausgeben lassen und nicht manuell abzählen)?

In [31]:
test_list = ["Pfirsich", "Kiwi", "Mango", "Ananas", "Banane"]
test_list.remove("Banane")
test_list.append("Apfel")
print("Länge: ", len(test_list), test_list)

Länge:  5 ['Pfirsich', 'Kiwi', 'Mango', 'Ananas', 'Apfel']

## Lektion 2.4: Dictionaries

Ein Dictionary (Deutsch: Wörterbuch) ist ein Datentyp der Attribut-Wert-Paare (z. B. Farbe: Rot), im Dictionary Key-Value genannt, speichert.

In [32]:
erstes_dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(erstes_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Um auf einen Wert zuzugreifen, muss man den "Key" verwenden:

In [33]:
print(erstes_dict["model"])

Mustang

Um einen Wert zu ändern braucht man ebenso den "Key":

In [34]:
print("vorher: ", erstes_dict)
erstes_dict["year"] = 2018
print("nachher: ", erstes_dict)

vorher:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
nachher:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Um die Länge eines Dictionaries zu bekommen verwenden wir wieder `len()`:

In [35]:
print(len(erstes_dict))

3

Elemente können mithilfe eines neuen "Keys" hinzugefügt werden:

In [36]:
print("vorher: ", erstes_dict)
erstes_dict["color"] = "red"
print("nachher: ", erstes_dict)

vorher:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
nachher:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

Elemente werden mithilfe der Funktion `pop()`entfernt. 

**Aufgabe:** <br>
Lassen Sie den nachstehenden Code zwei Mal laufen. Warum erhalten Sie beim zweiten Mal eine Fehlermeldung?

In [38]:
erstes_dict.pop("model")
print(erstes_dict)

KeyError: ignored

**Antwort:** Sie erhalten eine Fehlermeldung weil der Key "model" schon beim ersten Mal gelöscht wurde und beim zweiten Durchlauf somit kein Key "model" mehr im Dictionary ist.

**Aufgabe:** <br>
Fügen Sie dem Dictionary `erstes_dict` den `Key` "model" mit dem Wert "Ferrari" hinzu und entfernen Sie das Element `year`.

In [39]:
# Fügen Sie hier Ihren Code ein
erstes_dict["model"] = "Ferrari"
erstes_dict.pop("year")
print(erstes_dict)

{'brand': 'Ford', 'color': 'red', 'model': 'Ferrari'}